.Home {
  font-family: sans-serif;
  text-align: center;
}

.HomeImages{
  width: 100%;
  height: 200px;
  background: #333;
  color: #fff;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Title{
  font-family: sans-serif;
  text-align: center;
}


.card-contaier{
  padding-left : 5px;
  padding-right: 2px;

}

.cards {
  padding: 5rem 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 380px;
  
}


.login-card {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.Account-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .img {
  height: 50px;
  width: 24px
} */
.image-account{
  height: 200px;
  width: 200px
}

.food-photo{
  height: 220px;
  width: 330px
}


.btn-group button {
  background-color: #b8d6d9; /*background */
  border: 1px solid rgb(0, 0, 0); /* border */
  color: rgb(13, 145, 239); /* text */
  padding: 10px 65px; /*padding */
  padding-left: 10px;
  cursor: pointer; /* Pointer/hand icon */
}

.btn-group button:not(:last-child) {
  border-right: #333; /* Prevent double borders */
}


.btn-group button:hover {
  background-color: #6ba381;
}

#form-container{
  max-width: 70vw;
  color:rgb(219, 176, 144)

}

.Cookbook-form{
  max-width: 65vw;
  color:rgb(1, 1, 1)
}

.Start-Here-title{
  display: flex;
  justify-content: center;
  padding-top: 16%;
  color:#fafafa
}

/* .Start-Here-cookbook{
  padding-left: 10%;
} */


.title-MyCookbook{
  font-size: 29px;
}

.heart-icon{
  color: red;
}